In [5]:
import json

import pandas as pd

<br>

### Potential Sources

In [36]:
locations = {
    'town_center' : [54.579524, -1.232178],
    'hospital' : [54.551272, -1.214294],
    'biomass_plant' : [54.574717, -1.122846], 
}

locations

{'town_center': [54.576248, -1.236633],
 'hospital': [54.551272, -1.214294],
 'biomass_plant': [54.574717, -1.122846]}

In [ ]:
var myLines = [{
    "type": "LineString",
    "coordinates": [[-1.232178, 54.579524], [-1.214294, 54.551272], [-1.122846, 54.574717]]
}];

<br>

### Buy And Sell

In [29]:
heat_sell = {}
heat_sell['Sell_offers'] = []
heat_purchase = {}
heat_purchase['purchase_offers'] = []
participants = {}
participants['basicinfo'] = []

participants['basicinfo'].append({
    'ID':'00001',
    'external_id':'64528386464',
    'id_type':'companieshouse',
    'Products':'Heat',
    'Buyer':'no',
    'seller':'yes',
    'size':'large',
    'Industry':'Pharma/Biotech',
    'output':'manufacture',
    'input':'NA',
    'MPRN':'',
    'LSOA':''
})
participants['basicinfo'].append({
    'ID':'00002',
    'external_id':'454545458',
    'id_type':'NHS',
    'Products':'Heat',
    'Buyer':'yes',
    'seller':'no',
    'size':'large',
    'Industry':'hospital/medical',
    'output':'domestic waste',
    'input':'heat',
    'LSOA':''
})

heat_sell['Sell_offers'].append({
    'name' : 'PharmaCorp',
    'ID' : '00001',
    'temperature' : '100',
    'start_time_UTC' : '2019-02-01T12:00:01Z',
    'end_time_UTC' : '2019-02-01T13:00:00Z',
    'volume' : '1000',
    'waste_percent':'10',
    'asking_price_total':'4000'
})
heat_sell['Sell_offers'].append({
    'name' : 'PharmaCorp',
    'ID' : '00001',
    'temperature' : '100',
    'start_time_UTC' : '2019-02-01T14:00:01Z',
    'end_time_UTC' : '2019-02-01T15:00:00Z',
    'volume' : '1000',
    'waste_percent':'20',
    'asking_price_total':'4000'
})
heat_sell['Sell_offers'].append({
    'name' : 'PharmaCorp',
    'ID' : '00001',
    'temperature' : '100',
    'start_time_UTC' : '2019-02-01T15:00:01Z',
    'end_time_UTC' : '2019-02-01T16:00:00Z',
    'volume' : '1000',
    'waste_percent':'20',
    'asking_price_total':'3500'
})
heat_sell['Sell_offers'].append({
    'name' : 'PharmaCorp',
    'ID' : '00001',
    'temperature' : '100',
    'start_time_UTC' : '2019-02-01T16:00:01Z',
    'end_time_UTC' : '2019-02-01T17:00:00Z',
    'volume' : '1000',
    'waste_percent':'10',
    'asking_price_total':'4000'
})
heat_sell['Sell_offers'].append({
    'name' : 'PharmaCorp',
    'ID' : '00001',
    'temperature' : '100',
    'start_time_UTC' : '2019-02-01T17:00:01Z',
    'end_time_UTC' : '2019-02-01T18:00:00Z',
    'volume' : '1000',
    'waste_percent':'10',
    'asking_price_total':'3600'
})

heat_purchase['purchase_offers'].append({
    'name':'Tees Valley Hospital',
    'ID':'00002',
    'temperature':'100',
    'start_time_UTC':'2019-02-01T12:00:01Z',
    'end_time_UTC':'2019-02-01T18:00:00Z',
    'volume':'5000',
    'buy_price_total':'20000'
})
heat_purchase['purchase_offers'].append({
    'name':'Tees Valley Hospital',
    'ID':'00002',
    'temperature':'100',
    'start_time_UTC':'2019-02-01T18:00:01Z',
    'end_time_UTC':'2019-02-01T122:00:00Z',
    'volume':'1000',
    'buy_price_total':'2000'
})

In [21]:
pd.DataFrame(dict(zip([1, 2], participants['basicinfo']))).T.set_index('ID')

,external_id,id_type,Products,Buyer,seller,size,Industry,output,input,MPRN,LSOA
ID,,,,,,,,,,,
00001,64528386464,companieshouse,Heat,no,yes,large,Pharma/Biotech,manufacture,NA,,
00002,454545458,NHS,Heat,yes,no,large,hospital/medical,domestic waste,heat,NaN,

In [35]:
df_sell = pd.DataFrame(heat_sell['Sell_offers'])

df_sell#.to_html()

,name,ID,temperature,start_time_UTC,end_time_UTC,volume,waste_percent,asking_price_total
0,PharmaCorp,00001,100,2019-02-01T12:00:01Z,2019-02-01T13:00:00Z,1000,10,4000
1,PharmaCorp,00001,100,2019-02-01T14:00:01Z,2019-02-01T15:00:00Z,1000,20,4000
2,PharmaCorp,00001,100,2019-02-01T15:00:01Z,2019-02-01T16:00:00Z,1000,20,3500
3,PharmaCorp,00001,100,2019-02-01T16:00:01Z,2019-02-01T17:00:00Z,1000,10,4000
4,PharmaCorp,00001,100,2019-02-01T17:00:01Z,2019-02-01T18:00:00Z,1000,10,3600

In [33]:
pd.DataFrame(heat_purchase['purchase_offers'])#.to_html()

,name,ID,temperature,start_time_UTC,end_time_UTC,volume,buy_price_total
0,Tees Valley Hospital,00002,100,2019-02-01T12:00:01Z,2019-02-01T18:00:00Z,5000,20000
1,Tees Valley Hospital,00002,100,2019-02-01T18:00:01Z,2019-02-01T122:00:00Z,1000,2000

In [ ]:
with open('static/data/participants.json','w') as basicinfo:
    json.dump(participants, basicinfo)

with open('static/data/heat_sell.json','w') as sell_offers:
    json.dump(heat_sell, sell_offers)

with open('static/data/heat_purchase.json','w') as purchase_offers:
    json.dump(heat_purchase, purchase_offers)